:host > div + * {
  margin-top: var(--s0);
}

div[class] {
  height: var(--s0);
  background-color: var(--neutral-050);
}

.space5 {
  width: var(--s5);
}
.space4 {
  width: var(--s4);
}
.space3 {
  width: var(--s3);
}
.space2 {
  width: var(--s2);
}
.space1 {
  width: var(--s1);
}
.space0 {
  width: var(--s0);
}
.space-1 {
  width: var(--s-1);
}
.space-2 {
  width: var(--s-2);
}
.space-3 {
  width: var(--s-3);
}
.space-4 {
  width: var(--s-4);
}
.space-5 {
  width: var(--s-5);
}
