header {
  background-color: #fff;
  border-bottom: 10px solid var(--blue-070);
}

.logo {
  display: flex;
  align-items: center;
  height: var(--s3);
}

[class*='-container'] {
  max-width: var(--content-width);
  margin: 0 auto;
}

nav {
  background-color: var(--neutral-010);
}

.nav-container {
  margin-left: calc(var(--(s0) * -1));
}

nav > ul {
  display: flex;
}

ul > li {
  padding: 0 var(--s0);
  height: var(--s3);
}

ul > li.active-link {
  border-bottom: 4px solid var(--blue-070);
}

li > a {
  font-weight: 700;
  color: var(--blue-070);
  text-decoration: none;
  line-height: var(--s3);

  &:hover:not(:focus) {
    text-decoration: underline;
  }
}

.main-container {
  padding-top: var(--s1);
}
