<header>
  <div class="header-container"></div>
</header>
<nav>
  <ul class="app-navigation nav-container">
    <li routerLinkActive="active-link" class="app-navigation-list-item">
      <a class="hbx-link" routerLink="typography">Typography</a>
    </li>
    <li routerLinkActive="active-link" class="app-navigation-list-item">
      <a class="hbx-link" routerLink="spacing">Spacing</a>
    </li>
    <li routerLinkActive="active-link" class="app-navigation-list-item">
      <a class="hbx-link" routerLink="color">Color</a>
    </li>
  </ul>
</nav>
<main>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</main>
